<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Environment" value="https://www.willpeavy.com/palindrome/"/>
    <add key="Browser" value="Chrome"/>
  </appSettings>
</configuration>